@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
}

:root {
    --fonte-titulo: 'Passion One',sans-serif;
    --fonte-poema: 'Sriracha',sans-serif;
}


header {
    background-color: black;
    text-align: center;
    padding-bottom: 50px;
}

h1 {
    padding-top: 60px;
    font-size: 10vw;
    font-family: var(--fonte-titulo);
    color: white;
    font-variant: small-caps;

}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

main {
    min-width: 300px;
    margin-top: 20px;
}

section {
    font-family: var(--fonte-poema);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 3.5vw;
}



#estrofe1 {
    margin-bottom: 100px;
}

#estrofe2 {
    position: relative;
    background-image: url(arquivosAuxiliares/imagens/background001.jpg);
    color: white;
    padding-top: 55px;
    padding-bottom: 65px;
    padding-left: 30px;
    background-size: cover;
    background-attachment: fixed;
    height: 96vh;
}

#estrofe2 span {
    position: absolute;
    background-color: black;
    display: block;
    padding: 10px;
}

#estrofe3 {
    margin-top: 35px;
}


#estrofe5 {
    box-shadow: inset 0px 3px 5px 5px rgba(0, 0, 0, 0.219);
    position: relative;
    background-image: url(arquivosAuxiliares/imagens/background002.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    margin-top: 150px;
    padding-top: 60px;
    padding-bottom: 85px;
    height: 96vh;
}

#estrofe5 span {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.507);
    padding-left: 10px;
    padding-right: 10px;
}

#estrofe6 {
    margin-top: 25px;
}

#estrofe7 {
    margin-top: 5px;
    margin-bottom: 100px;
}

footer {
    padding: 8px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}